@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #070707;
    --color-littleDark: #15202B;
    --color-light: #FFF;
    --color-blue: #0000FE;
    --color-purple:#7045D4;
    --color-gray:#2c2c2c;
    --color-yellow:#FFD400;
    --color-orange:#FF7A00;
    --color-green:#00BA7C;
    --color-pink:#F91880;
}

html,
body {
  color: #000;
  background: #fff;
}

[data-theme='littleDark'],
[data-theme='littleDark'] body {
  color: var(--color-light);
  background: var(--color-littleDark);
}

[data-theme='dark'],
[data-theme='dark'] body {
  color: var(--color-light);
  background: var(--color-dark);
}

[data-theme='light'],
[data-theme='light'] body {
  color: var(--color-dark);
  background: var(--color-light);
}


  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple) var(--color-gray);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-gray);
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-purple);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-purple);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-purple);
}
